<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/all.css">
  <title>後台管理</title>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">V.S</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" aria-current="page" href="#" @click.prevent="logOut">Logout</a>
          </div>
        </div>
      </div>
    </nav>  
    <!-- 登入 -->
    <section class="container mt-5" v-if="!hasLogin">
      <div class="row">
        <div class="col-4 mx-auto">
          <h2 class="text-center mb-3">Login</h2>
          <form action="" @submit.prevent="signIn">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="userName" placeholder="name@example.com" v-model="userInfo.username">
              <label for="userName">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="userPw" placeholder="Password" v-model="userInfo.password">
              <label for="userPw">Password</label>
            </div>
            <div class="d-flex justify-content-around">
              <input type="submit" value="Login" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- 列表 -->
    <section class="container mt-5" v-else>
      <!-- 使用者路徑 -->
      <div class="input-group mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="userPath" placeholder="API 路徑" v-model="path">
          <label for="userPath">使用者路徑</label>
        </div>
        <input type="button" value="Update" class="btn btn-primary" @click="checkLogin">
      </div>
      <!-- 項目列表 -->
      <div class="d-flex align-items-center">
        <h2>項目列表</h2>
        <input type="button" :value="'新增' + selectTabName" class="btn btn-primary ms-auto" @click="addProduct">
      </div>
      <div class="card text-center">
        <div class="card-header d-flex align-items-end">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" v-for:="item in tabList" :key="item" @click="selectTab(item)">
              <a class="nav-link" :class="{'active': item === selectTabName }">{{item}}</a>
            </li>
          </ul>
          <div class="form-floating ms-auto">
            <input class="form-control" list="datalistOptions" id="searchData" placeholder="Type to search...">
            <label for="searchData">搜尋{{selectTabName}}...</label>
            <datalist id="datalistOptions">
              <option value="San Francisco">
              <option value="New York">
              <option value="Seattle">
              <option value="Los Angeles">
              <option value="Chicago">
            </datalist>
          </div>
        </div>
        <!-- 商品樣板 -->
        <template v-if="displayData.products">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>分類</th>
                  <th>標題</th>
                  <th>描述</th>
                  <th>售價</th>
                  <th>上架</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in originData.products" :key="item.id">
                  <td>{{item.category}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.price}}</td>
                  <td class="align-middle">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="${item.id}" :checked="item.is_enabled">
                      <label class="form-check-label" for="${item.id}">{{item.is_enabled ? '已啟用' : '未啟用'}}</label>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex">
                      <input type="button" value="修改" class="btn btn-warning me-2">
                      <input type="button" value="刪除" class="btn btn-outline-danger" @click="deleteProduct(item.id)">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
        <!-- 訂單樣板 -->
        <template v-if="displayData.orders">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>訂購人</th>
                  <th>聯絡信箱</th>
                  <th>連絡電話</th>
                  <th>住址</th>
                  <th>商品</th>
                  <th>付款狀態</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in originData.orders" :key="item.id">
                  <td>{{item.user.name}}</td>
                  <td>{{item.user.email}}</td>
                  <td>{{item.user.tel}}</td>
                  <td>{{item.user.address}}</td>
                  <td>
                    <p v-for="item in item.products" :key="item.product.id">
                      {{item.product.title}}
                    </p>
                  </td>
                  <td>{{item.is_paid}}</td>
                  <td>
                    <div class="d-flex">
                      <input type="button" value="修改" class="btn btn-warning me-2">
                      <input type="button" value="刪除" class="btn btn-outline-danger" @click="deleteProduct(item.id)">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
      </div>
    </section>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="js/all.js"></script>
</body>
</html>